<!DOCTYPE html>
<html lang="en">
<head>
    <title>Job Create</title>
    <meta charset="UTF-8">
    <meta name="description" content="Job Create">
    <meta name="author" content="Beren Scott">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
<nav class="topheading">
    <% if (user.itemR) {%><a href="/item/">New Items</a><%}%>
    <% if (user.locationR) {%><a href="/location/">Locations</a><%}%>
    <% if (user.jobR) {%><a href="/job/">Jobs</a><%}%>
    <% if (user.itemR) {%><a href="/report/find">Find Items</a><%}%>
    <% if (user.wipeR) {%><a href="/wipe/status">Wipe</a><%}%>
    <% if (user.admin) {%><a href="/price/">Pricing</a><%}%>
    <% if (user.admin) {%><a href="/user/">User</a><%}%>
    <% if (user.admin) {%><a href="/admin/">Admin</a><%}%>
    <a href="/logout">Logout</a>
</nav>
<div class="container">
    <img src="/bshw-big.png" alt="BSHW banner">
    <h1>Create</h1>
    <form action="/job/save" method="post" onsubmit="subbutton.disabled=true; return true;">
        <table>
            <tbody>
            <tr>
                <td>From Barcode</td>
                <td><input type="text" name="fromBarcode" /></td>
            </tr>
            <tr>
                <td>Business Name</td>
                <td><input type="text" name="businessName" /></td>
            </tr>
            <tr>
                <td>Business Address</td>
                <td><input type="text" name="businessAddress" /></td>
            </tr>
            <tr>
                <td>Contact Name</td>
                <td><input type="text" name="contactName" /></td>
            </tr>
            <tr>
                <td>Contact Phone Number</td>
                <td><input type="text" name="contactPhoneNumber" /></td>
            </tr>
            <tr>
                <td>Contact Email Address</td>
                <td><input type="text" name="contactEmailAddress" /></td>
            </tr>
            <tr>
                <td>Notes</td>
                <td><input type="text" name="notes" /></td>
            </tr>
            <tr>
                <td>Wipe Requirement</td>
                <td><select name="wipeReq">
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select></td>
            </tr>
            <tr>
                <td>Collect Date</td>
                <td><input type="text" name="collectionDate" /></td>
            </tr>
            <tr>
                <td colspan="2"><button id="subbutton" type="submit">Save</button></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>