<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Index</title>
    <meta charset="UTF-8">
    <meta name="description" content="Admin Index">
    <meta name="author" content="Beren Scott">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
<nav class="topheading">
    <% if (user.itemR) {%><a href="/item/">New Items</a><%}%>
    <% if (user.locationR) {%><a href="/location/">Locations</a><%}%>
    <% if (user.jobR) {%><a href="/job/">Jobs</a><%}%>
    <% if (user.itemR) {%><a href="/report/find">Find Items</a><%}%>
    <% if (user.wipeR) {%><a href="/wipe/status">Wipe</a><%}%>
    <% if (user.admin) {%><a href="/price/">Pricing</a><%}%>
    <% if (user.admin) {%><a href="/user/">User</a><%}%>
    <% if (user.admin) {%><a href="/admin/">Admin</a><%}%>
    <a href="/logout">Logout</a>
</nav>
<div class="container">
    <img src="/bshw-big.png" alt="BSHW banner">
    <h1>Admin Controls</h1>
    <table>
        <tbody>
        <tr>
            <td><a href="/price/cpu">CPU pricing</a></td>
        </tr>
        <tr>
            <td><a href="/price/monitor">Monitor pricing</a></td>
        </tr>
        <tr>
            <td><a href="/price/model">Model override pricing</a></td>
        </tr>
        <tr>
            <td><a href="/job/status">Statistics</a></td>
        </tr>
        <tr>
            <td><a href="/user">User controls</a></td>
        </tr>
        <tr>
            <td><a href="/report/statistics">Statistics</a></td>
        </tr>
        </tbody>
    </table>
</div>
