<!DOCTYPE html>
<html lang="en">
<head>
    <title>Monitor Price Show</title>
    <meta charset="UTF-8">
    <meta name="description" content="Monitor Price Show">
    <meta name="author" content="Beren Scott">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
<nav class="topheading">
    <% if (user.itemR) {%><a href="/item/">New Items</a><%}%>
    <% if (user.locationR) {%><a href="/location/">Locations</a><%}%>
    <% if (user.jobR) {%><a href="/job/">Jobs</a><%}%>
    <% if (user.itemR) {%><a href="/report/find">Find Items</a><%}%>
    <% if (user.wipeR) {%><a href="/wipe/status">Wipe</a><%}%>
    <% if (user.admin) {%><a href="/price/">Pricing</a><%}%>
    <% if (user.admin) {%><a href="/user/">User</a><%}%>
    <% if (user.admin) {%><a href="/admin/">Admin</a><%}%>
    <a href="/logout">Logout</a>
</nav>
<div class="container">
    <img src="/bshw-big.png" alt="BSHW banner">
    <h1>Details</h1>
    <table>
        <tbody>
        <tr>
            <td>Size</td>
            <td><%= one.size %></td>
        </tr>
        <tr>
            <td>Buy Price</td>
            <td><%= one.buyPrice %></td>
        </tr>
        <tr>
            <td>Sell Price</td>
            <td><%= one.sellPrice %></td>
        </tr>
        <tr>
            <td colspan="2"><a href="/price/monitor/edit/<%= one._id %>">EDIT</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>